@import 'tailwindcss';

.rich-text-content p {
  font-size: 18px;
  line-height: 1.75;
  color: #374151;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  justify-content: space-evenly;
}

.rich-text-content h2 {
  font-size: 30px;
  font-weight: 700;
  color: #1f2937;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.rich-text-content h3 {
  font-size: 25px;
  font-weight: 500;
  color: #1f2937;
  margin-top: 1.8rem;
  margin-bottom: 1rem;
}

.rich-text-content ul {
  padding-left: 1.5rem;
  margin-bottom: 1rem;
}

.rich-text-content li {
  margin-bottom: 0.5rem;
}

.rich-text-content img {
  width: auto;
  margin: 2rem auto 2rem auto;
}
